$white: #fff;
$lightgrey: #f0f0f0;
$mediumgrey: #948a99;
$darkgrey: #262626;
$lightblue: #22a3a4;
$lightgreen: #7cc576;
$lightred: #e74c3c;
$fonts: Calibri, sans-serif;
$button-fs: 0.9rem;
$header-button-fs: 1.1rem;
$trs-time: .1s;