/* colors */
$white: #fff;
$lightgrey: #f0f0f0;
$mediumgrey: #948a99;
$darkgrey: #262626;
$lightblue: #22a3a4;
$lightgreen: #7cc576;
$lightred: #e74c3c;
/* social */
$fb-color: #3b5998;

/* fonts */
$fonts: 'Calibri', sans-serif;
$title-fs: 1.1rem;
$content-fs: 1rem;
$button-fs: 0.9rem;
$header-button-fs: 1.1rem;

/* transition time */
$trs-time: .1s;

/* dimensions */
$header-height: 80px;
$header-mb: 100px;
$row-height: 40px;
$head-row-height: 50px;
$products-min-width: 220px;
$products-max-width: 320px;
$buyer-min-width: 140px;
$cell-padding: 0 25px;

/* mobile dimensions */
$mobile-breakpoint: 767px;
$mobile-size-k: .65; //coefficient of downsize on mobile devices
$mobile-fs-diff: .2rem; //font size difference on mobile devices

