@import 'variables';

section.content-section .container{
	display: flex;
	flex-direction: row;
	.products-container{
		flex-grow: 1;
		max-width: $products-max-width;
	}
	.buyers-container{
		flex-grow: 3;
		max-width: calc(100% - #{$products-min-width});
	}
	
}

@media (max-width: $mobile-breakpoint){

	section.content-section .container .products-container{
		max-width: $products-max-width * $mobile-size-k;
	}
	section.content-section .container .buyers-container{
		max-width: calc(100%  - #{$products-min-width * $mobile-size-k});
	}
}