@import 'variables';

.buyer{
	flex-grow: 1;
	border-right: 1px solid $lightgrey;
	min-width: $buyer-min-width;
	.buyer-header{
		height: $head-row-height + 2px;
		text-align: center;
		input{
			margin-top: 11px;
			float: none;
			color: $darkgrey;
		}
		button.buyer-remove-button{
			box-sizing: content-box;
			height: 26px;
			width: 26px;
			padding: 0;
			font-size: 12px;
			margin-right: -28px;
			opacity: 0;
			background: $white;
			color: $mediumgrey;
			outline: none;
			cursor: pointer;
			position: relative;
			top: -2px;
			border: 1px solid $mediumgrey;
		}
		&:hover button.buyer-remove-button{
			opacity: 1;
		}
	}
	.buyer-checks-container{
		.buyer-product-check{
			height: $row-height;
			border-top: 1px solid $lightgrey;
			button{
				display: block;
				width: 100%;
				height: $row-height;
				line-height: $row-height;
				background:transparent;
				border: none;
				outline: none;
				padding: 0;
				margin: 0;
				box-sizing: content-box;
				cursor: pointer;
				color: $mediumgrey;
				&:hover{
					background: $lightgrey;
				}
			}
		}
	}
	.buyer-footer{
		height: $row-height;
		line-height: $row-height;
		padding: $cell-padding;
		border-top: 1px solid $lightgrey;
		display: flex;
		flex-direction: row;
		color: $darkgrey;
		font-family: $fonts;
		font-size: $content-fs;
		position: relative;

		.label{
			flex-grow: 1;
		}
		.label-paid{
			flex-grow: 1;
			color: $lightgreen;
			text-align: center;
		}
		.value{
			margin-right: 5px;
			font-weight: bold;
		}
		.currency{
			font-weight: bold;
			text-transform: uppercase;
		}
		.buyer-paid-button{
			opacity: 0;
			position: absolute;
			background: $white;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			font-size: $button-fs;
			color: $lightgreen;
			border: 1px solid $lightgreen;
			outline: none;
			transition: opacity $trs-time;

			span{
				margin-right: 5px;
			}
		}
		&:hover .buyer-paid-button{
			opacity: 1;
		}
	}
	&:last-child{
		border-right: none;
	}
}

@media (max-width: $mobile-breakpoint){
	$cell-padding: 0 10px;

	.buyer{
		min-width: $buyer-min-width * $mobile-size-k;
		.buyer-header{
			height: $head-row-height * $mobile-size-k + 2px;
			.buyer-name{			
				position: relative;
				input{
					margin-top: 11px * $mobile-size-k;
				}
				button.buyer-remove-button{
					border-color: $lightgrey;
					opacity: 1;
					height: 20px;
					width: 20px;
					font-size: 10px;
					top: calc(50% - 8px);
					margin-right: 0;
					position: absolute;
					right: -1px;
				}
			}
		}
		.buyer-checks-container{
			.buyer-product-check{
				height: $row-height * $mobile-size-k;
				button{
					height: $row-height * $mobile-size-k;
					line-height: $row-height * $mobile-size-k;
				}
			}
		}
		.buyer-footer{
			height: $row-height * $mobile-size-k;
			line-height: $row-height * $mobile-size-k;
			padding: $cell-padding;
			font-size: $content-fs - $mobile-fs-diff;
			
			.label{
				display: none;
			}

			.value{
				flex-grow: 1;
				text-align: center;
				margin-right: 0;
			}
			.currency{
				display: none;
			}
		
			.buyer-paid-button{
				font-size: $button-fs - $mobile-fs-diff;
				opacity: 1;
				border-color: $lightgrey;
				color: $mediumgrey;
				width: 20px;
				height: 20px;
				line-height: 20px;
				right: -1px;
				left: auto;
				top: calc(50% - 10px);

				span.fa{
					margin-right: 0;
				}

				span.paid-label{
					display: none;
				}
			}
		}
		&:last-child{
			.buyer-paid-button{
				right: 0;
			}
		}
	}
}