@import 'variables';

.buyer{
	flex-grow: 1;
	border-right: 1px solid $lightgrey;
	min-width: $buyer-min-width;
	.buyer-header{
		height: $head-row-height + 2px;
		text-align: center;
		input{
			margin-top: 11px;
			float: none;
			color: $darkgrey;
		}
		button.buyer-remove-button{
			box-sizing: content-box;
			height: 26px;
			width: 26px;
			padding: 0;
			font-size: 12px;
			margin-right: -28px;
			opacity: 0;
			background: $white;
			color: $mediumgrey;
			outline: none;
			cursor: pointer;
			position: relative;
			top: -2px;
			border: 1px solid $mediumgrey;
		}
		&:hover button.buyer-remove-button{
			opacity: 1;
		}
	}
	.buyer-checks-container{
		.buyer-product-check{
			height: $row-height;
			border-top: 1px solid $lightgrey;
			button{
				display: block;
				width: 100%;
				height: $row-height;
				line-height: $row-height;
				background:transparent;
				border: none;
				outline: none;
				padding: 0;
				margin: 0;
				box-sizing: content-box;
				cursor: pointer;
				color: $mediumgrey;
				&:hover{
					background: $lightgrey;
				}
			}
		}
	}
	.buyer-footer{
		height: $row-height;
		line-height: $row-height;
		padding: $cell-padding;
		border-top: 1px solid $lightgrey;
		display: flex;
		flex-direction: row;
		color: $darkgrey;
		font-family: $fonts;
		font-size: $content-fs;
		position: relative;

		.label{
			flex-grow: 1;
		}
		.label-paid{
			flex-grow: 1;
			color: $mediumgrey;
			text-align: center;
		}
		.value{
			margin-right: 12px;
			font-weight: bold;
		}
		.currency{
			font-weight: bold;
			text-transform: uppercase;
		}
		.buyer-paid-button{
			position: absolute;
			right: 0;
		}
	}
	&:last-child{
		border-right: none;
	}
}

