@import 'variables';

header{
	height: $header-height;
	margin-bottom: $header-mb;
	background: $lightgrey;

	.logo{
		float: left;
		height: $header-height;
		line-height: $header-height;
		font-size: 1.3rem;
		font-family: $fonts;
		font-weight: bold;
		color: $darkgrey;
		.accent{
			color: $lightblue;
		}
	}

	.buttons-container{
		float: right;
		height: $header-height;
		line-height: $header-height;

		.button-green{
			background-color: $lightgreen;
			border-color: $lightgreen;

			&:hover{
				color: $lightgreen;
				background: $white;
			}
		}
	}
}

@media (max-width: $mobile-breakpoint){
	header{
		height: $header-height * $mobile-size-k;
		margin-bottom: $header-mb * $mobile-size-k;
	
		.logo{
			height: $header-height * $mobile-size-k;
			line-height: $header-height * $mobile-size-k;
			font-size: 1rem;
		}
	
		.buttons-container{
			height: $header-height * $mobile-size-k;
			line-height: $header-height * $mobile-size-k;
		}
	}
}