@import 'variables';

header{
	height: $header-height;
	margin-bottom: $header-mb;
	background: $lightgrey;

	.logo{
		float: left;
		height: $header-height;
		line-height: $header-height;
		font-size: 1.3rem;
		font-family: $fonts;
		font-weight: bold;
		color: $darkgrey;
		.accent{
			color: $lightblue;
		}
	}

	.buttons-container{
		float: right;
		height: 80px;
		line-height: 80px;

		.button-green{
			background-color: $lightgreen;
			border-color: $lightgreen;

			&:hover{
				color: $lightgreen;
				background: $white;
			}
		}
	}
}