@import 'variables';

.login-container{
    width: 100%;
    display: flex;
    align-items: center;

    .column{
        flex-grow: 1;
        padding: $cell-padding;
        border-left: 1px solid $mediumgrey;
        width: 100%;
        position: relative;

        &.left-column{
            text-align: right;
        }
        
        &::before{
            content: "sau";
            position: absolute;
            width: 30px;
            height: 30px;
            top: calc(50% - 15px);
            left: -15px;
            text-align: center;
            background: $white;
            display: block;

        }

        &:first-child{
            border-left: none;
            &::before{
                display: none;
            }
        }

        button.social-button{
            padding: $cell-padding;
            display: inline-block;
            font-size: 1.3rem;
            width: 100%;
            max-width: 320px;
            background: $lightblue;
            margin-top: 1rem;

            border: 1px solid $lightblue;
            border-radius: 5px;
            color: $white;

            &:first-child{
                margin-top: 0;
            }
        }

        button#fb{
            background-color: $fb-color;
            border-color: $fb-color;
        }

        .field-container{
            margin-top: 1rem;
            width: 100%;
            max-width: 320px;
            display: block;
            border: 1px solid $mediumgrey;
            border-radius: 5px;
            overflow: hidden;
            clear: both;

            label{
                margin: 0;
                padding: 0;
                width: $row-height;
                height: $row-height;
                line-height: $row-height;
                text-align: center;
                background: $white;
                border: none;
                float: left;
                border-right: 1px dashed $mediumgrey;
                color: $mediumgrey;
            }

            input{
                order: 2;
                width: calc(100% - #{$row-height});
                height: $row-height;
                line-height: $row-height;
                display: inline-block;
                padding: 0 .3rem;
                margin: 0;
                border: none;
                font-size: $content-fs;
                font-family: $fonts;
                color: $darkgrey;
                outline: none;

                &:hover, &:focus{
                    color: $lightblue;

                    & + label{
                        color: $lightblue;
                        border-color: $lightblue;
                    }
                }
            }

            &:first-child{
                margin-top: 0;
            }
        }

        .large-button{
            margin: 1rem 0 0 0;
        }
    }

}

@media (max-width: $mobile-breakpoint){
    .login-container{
        flex-direction: column;
        margin: 0 auto;
    
        .column{
            padding: 1rem 0;
            border: none;
            width: 100%;
            border-top: 1px solid $mediumgrey;
            text-align: center;

            &.left-column{
                text-align: center;
            }
            
            &::before{
                content: "sau";
                position: absolute;
                width: 30px;
                height: 30px;
                top: -15px;
                left: calc(50% - 15px);
                text-align: center;
                line-height: 25px;
                background: $white;
                display: block;
    
            }
    
            &:first-child{
                border: none;
            }
    
            button.social-button{
                font-size: 1.1rem;    
                border-radius: 3px;
            }
    
            .field-container{
                border-radius: 5px;
                overflow: hidden;
                margin-left: auto;
                margin-right: auto;

                height: $head-row-height * $mobile-size-k;
                
                label{
                    width: $head-row-height * $mobile-size-k;
                    height: $head-row-height * $mobile-size-k;
                    line-height: $head-row-height * $mobile-size-k;
                    font-size: $content-fs - $mobile-fs-diff;
                }

                input{
                    width: calc(100% - #{$head-row-height * $mobile-size-k});
                    height: $head-row-height * $mobile-size-k;
                    line-height: $head-row-height * $mobile-size-k;
                }
            }

            .large-button{
                display: block;
                margin: 1rem auto;
            }
        }
    
    }
}