@import 'variables';

.product{
	position: relative;
	height: $row-height;
	line-height: $row-height;
	border-bottom: 1px solid $white;
	display: flex;
	flex-direction: row;
	padding: $cell-padding;
	font-size: $content-fs;
	
	
	.product-name{
		flex-grow: 2;
		text-align: left;
	}

	.product-price{
		margin-right: 5px;
	}

	span.product-currency{
		font-family: $fonts;
		color: $mediumgrey;
		text-transform: uppercase;
	}

	.product-remove-button{
		position: absolute;
		padding: 0;
		right: 21px;
		height: 24px;
		width: 24px;
		line-height: 22px;
		text-align: center;
		border: 1px solid $mediumgrey;
		background: $white;
		font-size: 12px;
		color: $mediumgrey;
		border-radius: 5px;
		top: ($row-height - 24px) / 2;
		cursor: pointer;
		transition: opacity $trs-time;
		opacity: 0;
	}

	&:hover .product-remove-button{
		opacity: 1;
	}
}
