@import 'variables';

.products{
	min-width: $products-min-width;
}
.products-header{
	height: $head-row-height;
	line-height: $head-row-height;
	color: $darkgrey;
	margin-bottom: 2px;
	.title{
		font-family: $fonts;
		font-size: $title-fs;
		font-weight: bold;
		background: $lightgrey;
		float: left;
		padding: $cell-padding;
	}
	.upload-button-container{
		display: block;
		float: left;
		margin-left: 2px;
		background: $lightgrey;
		height: $head-row-height;
		input{
			display: none;
		}
		label{
			cursor: pointer;
			box-sizing: border-box;
			border: none;
			outline: none;
			background: transparent;
			text-align: center;
			width: $head-row-height;
			height: $head-row-height;
			transition: All $trs-time;
			&:hover, &:focus{
				color: $white;
				background: $lightblue;
			}
		}
	}
}
.product-list-container{
	background: $lightgrey;
}
.products-footer{
	height: $row-height;
	background: $lightgrey;
	line-height: $row-height;
	padding: $cell-padding;
	font-size: $content-fs;
	display: flex;
	flex-direction: row;
	color: $darkgrey;
	font-family: $fonts;
	.label{
		flex-grow: 1;
	}
	.value{
		margin-right: 12px;
		font-weight: bold;
	}
	.currency{
		font-weight: bold;
		text-transform: uppercase;
	}
}


@media (max-width: $mobile-breakpoint){
	$cell-padding: 0 10px;
	.products{
		min-width: $products-min-width * $mobile-size-k;
	}
	.products-header{
		height: $head-row-height * $mobile-size-k;
		line-height: $head-row-height * $mobile-size-k;
		.title{
			font-size: $title-fs - $mobile-fs-diff;
			padding: $cell-padding;
			width: calc(100% - #{$head-row-height * $mobile-size-k} - 2px);
		}
		.upload-button-container{
			height: $head-row-height * $mobile-size-k;
			label{
				width: $head-row-height * $mobile-size-k;
				height: $head-row-height * $mobile-size-k;
			}
		}
	}
	.products-footer{
		height: $row-height * $mobile-size-k;
		line-height: $row-height * $mobile-size-k;
		padding: $cell-padding;
		font-size: $content-fs - $mobile-fs-diff;
		.value{
			margin-right: 9px;
		}
	}
}